{% extends "layout.html" %}

{% block body %}
<form method="post" action="/edit_flow/{{ flow.id }}">
    <fieldset>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                {{ form.flowname.label }}
                {{ form.flowname(class="form-control", required=true) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                {{ form.stepname1.label }}
                {{ form.stepname1(class="form-control", required=true) }}
            </div>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="steptype1" name="steptype1" value="fixed" class="custom-control-input"
                   {{ 'checked' if flow.steptype1.lower() == 'fixed' else '' }}>
            <label class="custom-control-label" for="steptype1">Fixed</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"  id="steptype11" name="steptype1" value="percent" class="custom-control-input"
                   {{ 'checked' if flow.steptype1.lower() == 'percent' else flow.steptype1 }}>
            <label class="custom-control-label" for="steptype11">Percent</label>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                {{ form.amount1.label }}
                {{ form.amount1(class="form-control", required=true) }}
            </div>
        </div>
    </fieldset>
    <div class="form-row">
      <div class="col-md-3 mb-3">
          {{ form.stepname2.label }}
          {{ form.stepname2(class="form-control", required=true) }}
      </div>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="steptype2" name="steptype2" value="fixed" class="custom-control-input"
               {{ 'checked' if flow.steptype2.lower() == 'fixed' else '' }}>
        <label class="custom-control-label" for="steptype2">Fixed</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="steptype22" name="steptype2" value="percent" class="custom-control-input"
               {{ 'checked' if flow.steptype2.lower() == 'percent' else '' }}>
        <label class="custom-control-label" for="steptype22">Percent</label>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            {{ form.amount2.label }}
            {{ form.amount2(class="form-control", required=true) }}
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
          {{ form.stepname3.label }}
          {{ form.stepname3(class="form-control", required=true) }}
      </div>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="steptype3" name="steptype3" value="fixed" class="custom-control-input"
               {{ 'checked' if flow.steptype3.lower() == 'fixed' else '' }}>
        <label class="custom-control-label" for="steptype3">Fixed</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="steptype33" name="steptype3" value="percent" class="custom-control-input"
               {{ 'checked' if flow.steptype3.lower() == 'percent' else '' }}>
        <label class="custom-control-label" for="steptype33">Percent</label>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            {{ form.amount3.label }}
            {{ form.amount3(class="form-control", required=true) }}
        </div>
    </div>

    <button class="btn btn-success" type="submit">Edit Flow</button>
</form>
{% endblock %}
