{% extends "layout.html" %}

{% block body %}

{% if form.errors %}
    {% for error in form.errors %}
        <div>{{ error }}</div>
    {% endfor %}
{% endif %}
<form method="post">
    <fieldset>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                {{ form.flowname.label }}
                {{ form.flowname(class="form-control", required=true) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                {{ form.stepname1.label }}
                {{ form.stepname1(class="form-control", required=true) }}
            </div>
        </div>

        {% for option in form.steptype1 %}
            <div class="custom-control custom-radio custom-control-inline">
                {{ option(class="custom-control-input") }}
                {{ option.label(class="custom-control-label") }}
            </div>
        {% endfor %}

        <br>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                {{ form.amount1.label }}
                {{ form.amount1(class="form-control", required=true) }}
            </div>
        </div>
    </fieldset>
    <div class="form-row">
      <div class="col-md-3 mb-3">
          {{ form.stepname2.label }}
          {{ form.stepname2(class="form-control", required=true) }}
      </div>
    </div>
    {% for option in form.steptype2 %}
        <div class="custom-control custom-radio custom-control-inline">
            {{ option(class="custom-control-input") }}
            {{ option.label(class="custom-control-label") }}
        </div>
    {% endfor %}
    <br>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            {{ form.amount2.label }}
            {{ form.amount2(class="form-control", required=true) }}
        </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
          {{ form.stepname3.label }}
          {{ form.stepname3(class="form-control", required=true) }}
      </div>
    </div>
    {% for option in form.steptype3 %}
        <div class="custom-control custom-radio custom-control-inline">
            {{ option(class="custom-control-input") }}
            {{ option.label(class="custom-control-label") }}
        </div>
    {% endfor %}
    <br>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            {{ form.amount3.label }}
            {{ form.amount3(class="form-control", required=true) }}
        </div>
    </div>

    <button class="btn btn-success" type="submit">Edit Flow</button>
</form>
{% endblock %}
