{% extends "layout.html" %}

{% block body %}
<br>
<i>{{ flow.flowname }}</i>
<div>Stepname: {{ flow.stepname1 }}</div>
<div>{{ flow.steptype1 }}</div>
<div>Amount: {{ flow.amount1 }}</div>
<div><b>Step 1 fee:{{ step1_fee }}</b></div>
<br>
<div>Stepname: {{ flow.stepname2 }}</div>
<div>{{ flow.steptype2 }}</div>
<div>Amount: {{ flow.amount2 }}</div>
<div><b>Step 2 fee:{{ step2_fee }}</b></div>
<br>
<div>Stepname: {{ flow.stepname3 }}</div>
<div>{{ flow.steptype3 }}</div>
<div>Amount: {{ flow.amount3 }}</div>
<div><b>Step 3 fee:{{ step3_fee }}</b></div>
<br>
{% if total_left %}
 hi your fee is {{ total_left }}
{% endif %}
<form class="form-inline" method="post" action="/flows/{{ flow.id }}">

    <div class="form-row">
        <div class="col-sm-5">
            <input
                type="text"
                class="form-control"
                id="totalamount"
                placeholder="Enter total amount"
                value=""
                name="totalamount"
                required
            >
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-10">Calculate</button>
</form>

{% endblock %}