{% extends "layout.html" %}

{% block body %}

<br>
<i>{{ flow.name }}</i>
{% for step in flow.steps %}
<div>Stepname: {{ step.name }}</div>
<div>{{ step.type }}</div>
<div>Amount: {{ step.amount }}</div>
{% if fees %}
<b>Fee: {{ fees[loop.index0] }}</b>
{% endif %}
</br>
{% endfor %}

</br>
{% if total_left %}
<b>Your total left is {{ total_left }}</b>
{% endif %}
<form class="form-inline" method="post" action="/flows/{{ flow.id }}">

    <div class="form-row">
        <div class="col-sm-5">
            <input
                type="text"
                class="form-control"
                id="totalamount"
                placeholder="Enter total amount"
                value=""
                name="totalamount"
                required
            >
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-10">Calculate</button>
</form><br>

<form class="form-inline" method="post" action="/delete_flow/{{ flow.id }}">
    <button type="submit" class="btn btn-danger mb-10">Delete</button>
    <a class="btn btn-warning" href="/edit_flow/{{ flow.id }}" role="button">Edit</a>
</form>
{% endblock %}
