{% extends "layout.html" %}

{% block body %}
    <!--<h4>Flow</h4>-->
    <br>
    <i>Please fill out the form</i>
    <ul><!--html list-->
    {% for error in errors %}<!--перебираємо список-->
        <li style="color:red">{{error}}</li><!--пункт списку-->
    {% endfor %}
    </ul>
<form>
    <fieldset>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault">Flow name</label>
                <input
                        type="text"
                        class="form-control"
                        id="validationDefault"
                        placeholder="Enter flow name"
                        value=""
                        required
                >
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault">Step name</label>
                <input
                        type="text"
                        class="form-control"
                        placeholder="Enter step name"
                        value=""
                        required
                >
            </div>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline1">Fixed</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label" for="customRadioInline2">Percent</label>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationDefault02">Amount</label>
                <input
                        type="number"
                        class="form-control"
                        id="validationDefault02"
                        placeholder="Enter amount"
                        value=""
                        required
                >
            </div>
        </div>
    </fieldset>
    <div class="form-row">
      <div class="col-md-3 mb-3">
          <label for="validationDefault11">Step name</label>
          <input
                  type="text"
                  class="form-control"
                  id="validationDefault11"
                  placeholder="Enter step name"
                  value=""
                  required
          >
      </div>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline11" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline11">Fixed</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline22" name="customRadioInline2" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline22">Percent</label>
    </div>
    <br>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationDefault22">Amount</label>
            <input
                    type="number"
                    class="form-control"
                    id="validationDefault22"
                    placeholder="Enter amount"
                    value=""
                    required
            >
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Create Flow</button>
</form>
{% endblock %}
