{% extends "layout.html" %}

{% block body %}

{% if form.errors %}
    {% for error in form.errors %}
        <div>{{ error }}</div>
    {% endfor %}
{% endif %}

<br>
<div id="root"></div>
<script type="text/babel">
  function range(n) {
    return Array.from({length: n}, (x, i) => i);
  }

  class Step extends React.Component {
    render() {
      const style = {border: "1px dotted blue", padding: "5px", marginBottom: "5px", borderRadius: "5px"};
      const step = this.props.number;
      return <div style={style}>
        <StepName number={step} />
        <StepType number={step} />
        <Amount number={step} />
      </div>
    }
  }

  class Flow extends React.Component {
    constructor(props) {
      super(props);
      this.state = {numberOfSteps: 0};
      this.addStep = this.addStep.bind(this);
    }

    addStep() {
      this.setState({numberOfSteps: this.state.numberOfSteps + 1})
    }

    render() {
      return <div>
        <FormRow>
          <label htmlFor="flowname">Flow Name</label>
          <input className="form-control" id={`flowname`} name="flowname" required type="text" value=""/>
        </FormRow>
        <Step/>
        {range(this.state.numberOfSteps).map(number => <Step key={number} number={number + 1}/>)}
        {this.state.numberOfSteps < 9 && <button className="btn btn-primary" onClick={this.addStep}>+</button>}
      </div>;
    }
  }

  function FormRow(props) {
    return <div className="form-row">
      <div className="col-md-4 mb-3">
        {props.children}
      </div>
    </div>
  }


  function StepName(props) {
    const step = props.number;
    return <FormRow>
        <label htmlFor={`stepname${step}`}>Step Name {step}</label>
        <input className="form-control" id={`stepname${step}`} name="stepname1" required="" type="text" value="" />
    </FormRow>;
  }

  function StepType(props) {
    const step = props.number;
    return <div>
      <div className="custom-control custom-radio custom-control-inline">
        <input className="custom-control-input" id={`steptype-0${step}`} name="steptype1" type="radio" value="fixed"/>
        <label className="custom-control-label" htmlFor={`steptype-0${step}`}>Fixed</label>
      </div>
      <div className="custom-control custom-radio custom-control-inline">
        <input className="custom-control-input" id={`steptype-1${step}`} name="steptype1" type="radio" value="percent"/>
        <label className="custom-control-label" htmlFor={`steptype-1${step}`}>Percent</label><br/><br/>
      </div>
    </div>
  }

  function Amount(props)  {
    const step = props.number;
    return <FormRow>
      <label htmlFor={`amount${step}`}>Amount {step}</label>
      <input className="form-control" id={`amount${step}`} name="amount1" required="" type="text" value=""/>
    </FormRow>
  }

  ReactDOM.render(
    <Flow/>,
    document.getElementById('root')
  );

</script>

{% endblock %}

