{% extends "layout.html" %}

{% block body %}
{% for flow in flows %}
    <div style="float: left; margin: 50px">
        <br>
        <i>{{ flow.name }}</i>
        <br/>
        {% for step in flow.steps %}
        <div>Stepname: {{ step.name }}</div>
        <div>{{ step.type }}</div>
        <div>Amount: {{ step.amount }}</div>
        {% if fees %}
        <b>Fee: {{ fees[flow.id].flow_fees[loop.index0] }}</b>
        {% endif %}
        <br/>
        {% endfor %}

        {% if fees %}
        <div><b>Total left:{{ fees[flow.id].left }}</b></div><br>
        {% endif %}
    </div>
{% endfor %}
<br>
<form class="form-inline" method="post">

    <div class="form-row">
        <div class="col-sm-5">
            <input
                type="text"
                class="form-control"
                id="totalamount"
                placeholder="Enter total amount"
                value=""
                name="totalamount"
                required
            >
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-10">Calculate</button>
</form>
{% endblock %}
